<!-- Search header-->
<%- partial('_partial/mainHeader', null, {cache: !config.relative_link}) %>
<!-- End header-->
<main id="content" role="main">

    <!-- Hero Section -->
   <!-- Hero Section -->
   <div id="SVGheroComponents" class="svg-preloader bg-primary position-relative overflow-hidden">
    <!-- Content -->
    <div class="container position-relative space-3 space-top-md-5 space-lg-4 z-index-2">
      <div class="w-md-80 w-xl-60 text-center mx-md-auto">
        <div class="mb-7">
          <h1 class="display-4 text-white mb-4">APortal</h1>
          <p class="lead text-white mb-4">基于Office 365的云端工作流框架</p>
        </div>
        <a class="btn btn-light btn-wide transition-3d-hover" href="<%= url_for('docs/gettingstarted')%>">开始使用</a>
        <a class="btn text-white" href="#miao1">了解更多<i class="fas fa-angle-right fa-sm ml-1"></i></a>
      </div>
      <!-- End Subscribe Form -->
    </div>
    <!-- End Content -->

    <!-- SVG Top Left Shapes -->
    <figure class="position-absolute top-0 left-0 w-60 ie-double-ellipse-top-left">
      <img class="js-svg-injector" src="<%= url_for('images/double-ellipse-top-left.svg') %>" alt="Image Description"
           data-parent="#SVGheroComponents">
    </figure>
    <!-- End SVG Top Left Shapes -->

    <!-- SVG Bottom Right Shapes -->
    <figure class="position-absolute right-0 bottom-0 w-15 ie-double-ellipse-bottom-right">
      <img class="js-svg-injector" src="<%= url_for('images/double-ellipse-bottom-right.svg') %>" alt="Image Description"
           data-parent="#SVGheroComponents">
    </figure>
    <!-- End SVG Bottom Right Shapes -->
    <!-- SVG Bottom Shape -->
    <figure class="position-absolute right-0 bottom-0 left-0" style="bottom:-1px">
      <img class="js-svg-injector" src="<%= url_for('images/curved-1.svg') %>" alt="Image Description"
           data-parent="#SVGheroComponents">
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>
  <!-- End Hero Section -->
    <!-- End Hero Section -->
    
    <!-- Features Section -->
    <div class="container space-2" id="miao1">
      <!-- Title -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <!-- <h2 class="h1">功能亮点</h2> -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-2">
          <span class="btn btn-xs btn-soft-success btn-pill mb-2">功能亮点</span>
        </div>
        <p>APortal帮助您快速实现业务流程自动化</p>
      </div>
      <!-- End Title -->
    
      <div class="row mx-n2">
        <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <a class="card h-100 transition-3d-hover" href="#">
            <div class="card-body">
              <figure class="ie-height-56 w-100 max-width-8 mb-4">
                <img class="img-fluid" src="<%= url_for('images/icon-9.svg') %>" alt="SVG">
              </figure>
              <h4 class="text-body">组织结构</h4>
              <p class="font-size-1 text-body mb-0">强大而灵活的组织结构管理方式：小至单层部门的小型企业，多至集团公司/分、子公司/多层级部门的大型组织。</p>
            </div>
            <div class="card-footer border-0 pt-0">
              <span class="font-size-1">了解更多 <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Icon Blocks -->
        </div>
    
        <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-lg-0">
          <!-- Icon Blocks -->
          <a class="card h-100 transition-3d-hover" href="#">
            <div class="card-body">
              <figure class="ie-height-56 w-100 max-width-8 mb-4">
                <img class="img-fluid" src="<%= url_for('images/icon-3.svg') %>" alt="SVG">
              </figure>
              <h4 class="text-body">流程设计</h4>
              <p class="font-size-1 text-body mb-0">多种复杂流程功能：节点跳转，流程追回，前、后加签，临时追加审批人，要求解释，预审，超时提醒，流程自动代理等近百种流程特色功能和操作。</p>
            </div>
            <div class="card-footer border-0 pt-0">
              <span class="font-size-1">了解更多 <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Icon Blocks -->
        </div>
    
        <div class="col-sm-6 col-lg-3 px-2 mb-3 mb-sm-0">
          <!-- Icon Blocks -->
          <a class="card h-100 transition-3d-hover" href="#">
            <div class="card-body">
              <figure class="ie-height-56 w-100 max-width-8 mb-4">
                <img class="img-fluid" src="<%= url_for('images/icon-5.svg') %>" alt="SVG">
              </figure>
              <h4 class="text-body">表单配置</h4>
              <p class="font-size-1 text-body mb-0">在线表单设计器帮助用户快速配置和生成表单页面。符合HTML5标准和前端布局规则，自动适应屏幕类型。</p>
              <p class="font-size-1 text-body mb-0">表单数据与OneDrive和SharePoint列表无缝集成。</p>
            </div>
            <div class="card-footer border-0 pt-0">
              <span class="font-size-1">了解更多 <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Icon Blocks -->
        </div>
    
        <div class="col-sm-6 col-lg-3 px-2">
          <!-- Icon Blocks -->
          <a class="card h-100 transition-3d-hover" href="#">
            <div class="card-body">
              <figure class="ie-height-56 w-100 max-width-8 mb-4">
                <img class="img-fluid" src="<%= url_for('images/icon-2.svg') %>" alt="SVG">
              </figure>
              <h4 class="text-body">工作流中心</h4>
              <p class="font-size-1 text-body mb-0">在APortal工作流中心，用户可以填写并提交流程，审批、搜索、导出流程数据。</p>
              <p class="font-size-1 text-body mb-0">通过APortal微信小程序，用户还可以随时随地移动接入工作流中心，对自己的审批任务进行处理，实时跟踪流程状态。</p>
            </div>
            <div class="card-footer border-0 pt-0">
              <span class="font-size-1">了解更多 <i class="fas fa-angle-right fa-sm ml-1"></i></span>
            </div>
          </a>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Features Section -->
    
    
        <!-- Blog News Section -->
        <div class="gradient-half-primary-v2">
          <div class="container space-2 space-md-3 px-lg-7">
            <!-- Title -->
            <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
              <span class="btn btn-xs btn-soft-success btn-pill mb-2">新闻 &amp; 博客</span>
            </div>
            <!-- End Title -->
    
             <!-- News Carousel -->
        <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-3"
             data-slides-show="3"
             data-slides-scroll="1"
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow u-slick__arrow--offset u-slick__arrow-centered--y rounded-circle"
             data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left"
             data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right"
             data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
             }, {
               "breakpoint": 554,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <!-- Blog News -->
          <a class="js-slide bg-img-hero gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" href="https://blog.shuishan-tech.com/aportalshi-shi-yu-suan-guan-li-liu-cheng/" style="background-image: url(images/photo-of-golden-cogwheel-on-black-background-3785930.jpg);">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">APortal实施预算管理流程</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">LIZHENG</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="<%= url_for('images/100x100/img3.jpg') %>" alt="Image Description">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->

          <!-- Blog News -->
          <div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">大型企业的采购管理，大至机器设备、生产原材料，小至办公用品，日常耗材，往往种类繁多，涉及的供应商千差万别。如何让采购过程即合规合法，又能够高效地完成，避免因繁琐低效的采购流程对日常工作和生产造成阻滞。这无疑是众多企业的采购总监、采购经理们每天面临的挑战。我们的客户采购经理M先生同样遇到类似的问题。</h3>
              <div class="my-4">
                <strong class="d-block mb-2">LIZHENG</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="<%= url_for('images/100x100/img2.jpg') %>" alt="Image Description">
                </div>
              </div>
              <a class="btn btn-sm btn-soft-primary btn-wide transition-3d-hover" href="https://blog.shuishan-tech.com/ji-yu-aportalhe-office-365ping-tai-de-dian-zi-hua-cai-gou-xi-tong-2/">阅读全文</a>
            </article>
          </div>
          <!-- End Blog News -->

          <!-- Blog News -->
          <a class="js-slide bg-img-hero gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" href="https://blog.shuishan-tech.com/ji-yu-aportalping-tai-shi-xian-ecnliu-cheng/" style="background-image: url(images/adult-architect-blueprint-business-416405.jpg);">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">基于APortal平台实现ECN流程</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">LIZHENG</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="<%= url_for('images/100x100/img1.jpg') %>" alt="Image Description">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->

          <!-- Blog News -->
          <div class="js-slide position-relative bg-white shadow-sm transition-3d-hover rounded my-4">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h6 font-weight-normal">大型集团企业的旗下品牌和分子公司众多，各个品牌和分子公司的业务之间既有共性，又有特性。如何让新入职员工尽快掌握众多品牌相关信息......</h3>
              <div class="my-4">
                <strong class="d-block mb-2">LIZHENG</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="<%= url_for('images/100x100/img3.jpg') %>" alt="Image Description">
                </div>
              </div>
              <a class="btn btn-sm btn-soft-primary btn-wide transition-3d-hover" href="https://blog.shuishan-tech.com/ji-yu-aportalkuang-jia-da-jian-yuan-gong-ru-zhi-pei-xun-ping-tai/">阅读全文</a>
            </article>
          </div>
          <!-- End Blog News -->

          <!-- Blog News -->
          <a class="js-slide bg-img-hero gradient-overlay-half-dark-v1 transition-3d-hover rounded-pseudo my-4" href="https://blog.shuishan-tech.com/aportalzhu-li-zhi-zao-ye-fa-piao-xiao-yan-liu-cheng/" style="background-image: url(images/--1-2.jpg);">
            <article class="align-self-end w-100 text-center p-6">
              <h3 class="h4 text-white">APortal助力制造业发票校验流程</h3>
              <div class="mt-4">
                <strong class="d-block text-white-70 mb-2">LIZHENG</strong>
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="<%= url_for('images/100x100/img4.jpg') %>" alt="Image Description">
                </div>
              </div>
            </article>
          </a>
          <!-- End Blog News -->
        </div>
        <!-- End News Carousel -->
          </div>
        </div>
        <!-- End Blog News Section -->
      </main>
<%- partial('_partial/footer1', null, {cache: !config.relative_link}) %>
