   <!-- ========== HEADER ========== -->
   <header id="header" class="u-header u-header--starter">
    <nav id="logoAndNav" class="navbar navbar-dark fixed-top bg-primary flex-nowrap p-0">
      <div class="col-md-3 col-xl-2 bg-md-primary-darker navbar-brand u-header__navbar-brand u-header__navbar-brand-center mr-0 py-2">
        <a class="u-header__navbar-brand-text-white d-flex" href="index.html" aria-label="Front">
          <img class="js-svg-injector"  width="100%" height="48px" src="<%= url_for('images/Aportal(white).svg') %>" alt="Image Description" />
        </a>
        <!-- <a class="small ml-3" href="getting-started/changelog.html"> -->
          <span class="lead ml-1 pl-2 docstitle"> 文档</span>
        <!-- </a> -->
      </div>

      <!-- Header Search -->
      <form class="form-inline input-group input-group-sm input-group-borderless d-none d-md-flex mr-auto ml-md-4" style="max-width: 500px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="docsSearch">
            <span class="fas fa-search"></span>
          </span>
        </div>
        <input class="js-hs-docs-search form-control pl-0" type="text" placeholder="查询..." aria-label="查询..." aria-describedby="docsSearch" data-url="assets/ajax/autocomplete-data-for-documentation-search.json">
      </form>
      <!-- End Header Search -->

    </nav>
  </header>
  <!-- ========== END HEADER ========== -->
  <!-- ========== MAIN CONTENT ========== -->
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-3 col-xl-2 bg-light hs-sidebar navbar-expand-md">
        <div class="d-flex d-md-none justify-content-between mb-3">
          <!-- Sidebar Search -->
          <form class="col form-inline input-group-sm">
            <input class="js-hs-docs-search form-control form-control-sm w-100" type="text" placeholder="Search..." data-url="assets/ajax/autocomplete-data-for-documentation-search.json">
          </form>
          <!-- End Sidebar Search -->

          <!-- Responsive Toggle Button -->
          <button class="btn btn-link pl-0" type="button" data-toggle="collapse" data-target="#sidebar-nav" aria-controls="sidebar-nav" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
              <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/>
            </svg>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>

        <!-- Sidebar Nav -->
        <div class="collapse navbar-collapse" id="sidebar-nav">
          <div id="sidebarNav" class="js-scrollbar hs-sidebar-sticky">
            <!-- <h5 class="hs-sidebar__heading">Getting started</h5> -->
            <ul class="hs-sidebar__nav">
              <%- doc_sidebar() %>
            </ul>
          </div>
        </div>
        <!-- End Sidebar Nav -->
      </nav>
      <!-- End Sidebar -->

      <main class="col-md-9 col-xl-10 px-4 pt-0 pt-md-11 pb-7 ml-md-auto">
        <div class="row">
          <!-- Section Nav -->
          <div class="col-xl-2 order-xl-2 d-none d-xl-inline-block">
            <ul class="js-scroll-nav hd-doc-section-nav">
              <!-- <li class="hd-doc-section-nav-item active"><a href="#quick-start">Quick start</a></li>
              <li class="hd-doc-section-nav-item"><a href="#starter-template">Starter template</a></li>
              <li class="hd-doc-section-nav-item"><a href="#responsive-meta-tag">Responsive meta tag</a></li> -->
              <%- myToc(page.content) %>
            </ul>
          </div>
          <!-- End Section Nav -->

          <div class="col-xl-10 order-xl-1">
            <div class="hs-docs-content-divider">
              <h1><%= page.title%></h1>
            </div>
            <%- page_anchor(page.content)%>
            <!-- Pager Nav -->
            <div class="row">
              <%- page_nav()%>
            </div>
            <!-- End Pager Nav -->
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- ========== END MAIN CONTENT ========== -->
