<!-- ========== FOOTER ========== -->
<a class="js-go-to u-go-to" href="#"
data-position='{"bottom": 15, "right": 15 }'
data-type="fixed"
data-offset-top="400"
data-compensation="#header"
data-show-effect="slideInUp"
data-hide-effect="slideOutDown">
<span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<footer class="bg-navy">
  <div class="container space-2">
    <div class="row mb-7">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <a class="d-inline-flex align-items-center mb-2" href="index.html" aria-label="Front">
          <img src="<%= url_for('images/Aportal(white).svg')%>" width="150px">
        </a>
      </div>

      <div class="col-6 col-lg-2 mb-5 mb-lg-0">
        <h4 class="h6 text-white font-weight-medium">关于</h4>
        <ul class="list-unstyled font-size-1">
          <li class="py-2"><a class="text-white-70" href="<%= url_for('/aboutus.html') %>">关于我们</a></li>
          <li class="py-2"><a class="text-white-70" href="<%= url_for('/customers.html') %>">客户</a></li>
          <li class="py-2"><a class="text-white-70" href="<%= url_for('/contacts.html') %>">联系方式</a></li>
        </ul>
      </div>

      <div class="col-6 col-lg-2 mb-5 mb-lg-0">
        <h4 class="h6 text-white font-weight-medium">资源</h4>
        <ul class="list-unstyled font-size-1">
          <li class="py-2"><a class="text-white-70" href="about-agency.html">帮助文档</a></li>
          <li class="py-2"><a class="text-white-70" href="careers.html">使用教程</a></li>
        </ul>
      </div>

      <div class="col-lg-2">
          <h4 class="h6 text-white font-weight-medium mb-3">公众号</h4>
          <img src="<%= url_for('images/others/wechat.jpg') %>" width="150px">
      </div>
      <div class="col-lg-2">
        <h4 class="h6 text-white font-weight-medium mb-3">小程序</h4>
        <img src="<%= url_for('images/others/wechat1.jpg') %>" width="150px">
    </div>
    </div>
    <p class="small text-muted">&copy; shuishan-tech 2020. All rights reserved.</p>
    <p class="small text-muted mb-0"><a href="http://www.beian.miit.gov.cn/" target="_blank" class="text">沪ICP备12020978号-2<br></a></p>
  </div>
</footer>

<!-- ========== END FOOTER ========== -->