<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>上海水杉网络科技有限公司 - APortal for Office 365</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Keywords" content="SharePoint Online, SharePoint, Office 365, Workflow">
  <meta name="description" content="APortal是上海水杉网络科技有限公司基于SharePoint平台研发的工作流平台。APortal帮助企业在基于Office 365部署的SharePoint Online站点或企业内部SharePoint服务器上快速搭建工作流平台。基于APortal，可以快速实施企业内部常见的业务系统。" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= config.root+'images/aportal.ico'%>">
  <!-- <%- css({ href: 'aportal.ico', rel: 'shortcut icon' }) %> -->
  <%- css('css/font-awesome/css/fontawesome-all.min.css') %>
  <%- css('css/animate.min.css') %>
  <%- css('css/hs.megamenu.css') %>
  <%- css('css/slick.css') %>
  <%- css('css/theme.css') %>
  <%- css('css/style.css') %>
  <%- css('css/docs.css') %>
  <%- css('css/prism.css') %>
  <%- css('css/hexostyle') %>
  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>