<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>APortal for Office 365</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= config.root+'images/aportal.ico'%>">
  <!-- <%- css({ href: 'aportal.ico', rel: 'shortcut icon' }) %> -->
  <%- css('css/font-awesome/css/fontawesome-all.min.css') %>
  <%- css('css/animate.min.css') %>
  <%- css('css/hs.megamenu.css') %>
  <%- css('css/slick.css') %>
  <%- css('css/theme.css') %>
  <%- css('css/style.css') %>
  <%- css('css/docs.css') %>
  <%- css('css/prism.css') %>
  <%- css('css/hexostyle') %>
  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>