<div class="u-header__section">
  <div id="logoAndNav" class="container">
    <!-- Nav -->
    <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
      <!-- Logo -->
      <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center" href="/" aria-label="Front">
        <p class="main_header_img <%= redIcon %> "></p>
        <!-- <img src="<%= url_for('images/Aportal.png') %>" alt="" width="150px" > -->
        <!-- <span class="u-header__navbar-brand-text">portal</span> -->
      </a>
      <!-- End Logo -->

      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white" aria-label="Toggle navigation"
        aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
        <span id="hamburgerTrigger" class="u-hamburger__box">
          <span class="u-hamburger__inner"></span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
        <ul class="navbar-nav u-header__navbar-nav">
          <!-- Home -->

          <li class="nav-item u-header__nav-item">
            <a class="nav-link u-header__nav-link" href="<%= url_for('/')%>">首页</a>
          </li>
          <!-- End Home -->

          <!-- Pages -->
          <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
            data-animation-out="fadeOut">
            <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle"
              href="<%= url_for('docs/gettingstarted')%>" aria-haspopup="true" aria-expanded="false"
              aria-labelledby="pagesSubMenu">文档</a>

            <!-- Pages - Submenu -->
            <ul id="blogSubMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer"
              aria-labelledby="blogMegaMenu" style="min-width: 230px;">
              <%- header_doc_sidebar() %>
            </ul>
            <!-- End Pages - Submenu -->
          </li>
          <!-- End Pages -->

          <li class="nav-item u-header__nav-item">
            <a class="nav-link u-header__nav-link" href="https://blog.shuishan-tech.com">博客</a>
          </li>

          <li class="nav-item u-header__nav-item">
            <a class="nav-link u-header__nav-link" href="https://blog.shuishan-tech.com/tag/case-study/">案例分享</a>
          </li>

          <li class="nav-item  hs-has-sub-menu   u-header__nav-item" data-event="hover" data-animation-in="slideInUp"
            data-animation-out="fadeOut">
            <a id='aboutusMegaMenu' class="nav-link u-header__nav-link u-header__nav-link-toggle" aria-haspopup="true"
              aria-expanded="false" href="javascript:void(0);" aria-labelledby="aboutusSubMenu">关于</a>
            <!-- Pages - Submenu -->
            <ul id="aboutusSubMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer"
              aria-labelledby="aboutusSubMenu" style="min-width: 230px;">
              <li><a class="nav-link u-header__sub-menu-nav-link" href="<%= url_for('/aboutus.html')%>">关于我们</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="<%= url_for('/customers.html') %>">客户列表</a></li>
              <li><a class="nav-link u-header__sub-menu-nav-link" href="<%= url_for('/contacts.html') %>">联系方式</a></li>
            </ul>
            <!-- End Pages - Submenu -->
          </li>
        </ul>
      </div>
      <!-- End Navigation -->
    </nav>
    <!-- End Nav -->
  </div>
</div>